<% layout("./layouts/layout.ejs") -%>

<div class="container my-3 error-main-box flex-grow-1 text-center">
  <img src="/404Error.jpg" alt="" id="error-png" />
  <div class="alert alert-danger m-3" role="alert"><%= message %></div>
</div>
