
.commentMessage {
    height: 10rem;
    width: 20rem;
    border: 1px solid;
    border-radius: 1rem;
    background-color: antiquewhite;
}

.mainBox{
    width: 100%;
}

.commentBox{
    height: 100vh;
    width: 50vw;
    /* border: 1px solid; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}