/* * {
  border: 1px solid red;
} */

@import "tailwindcss";

/* @theme {
  --color-brand-primary: #ff5733;
  --color-brand-secondary: #337bff;
  --font-heading: 'Roboto', sans-serif;
  --spacing-128: 32rem;
} */

@utility gradientHover {
  @apply bg-gradient-to-r from-teal-600 via-blue-600 to-pink-600;
}

@utility faded-text {
  @apply font-bold text-sm text-gray-400;
}

@utility divider {
  @apply w-full h-0.5 my-6 bg-gray-800;
}
