
*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.filter-tray {
    height: 30vh;
    width: 90vw;
    
}

.container {
    height: 100vh;
    width: 100vw;
}