/* src/index.css */
/* 
* {
  border: 1px solid red;
} */


body {
  background-color: black;
  overflow: hidden
}

/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0; /* gray-400 */
  border-radius: 10px;
}



@import "tailwindcss";

/*
  Add your custom global styles below this import.
  However, remember that Tailwind's utility-first approach generally discourages
  extensive custom CSS outside of its system.
*/


@utility btn-primary {
  @apply px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md;
}

@utility my-custom-text {
  @apply text-4xl tracking-wide text-indigo-500 font-sans font-semibold;
  line-height: 1.6; /* You can also add raw CSS properties */
}