.searchBox {
  position: relative;
  width: 100%;
  height: 15%;
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  column-gap: 1rem;
}
.searchBar {
  position: relative;
  width: 60%;
}

.searchButton {
  background-color: #3498db !important;
  color: #2C3E50 !important;
}

.warningMsg {
    position: absolute;
    top: 4.6rem;
    font-size: small;
    color: #E74C3C;

}