<% if(success && success.length) { %>
<!-- Bootstrap Alert -->
<div
  id="myAlert"
  class="alert alert-success alert-dismissible fade show col-md-6"
  role="alert"
>
  🎉 <%= success %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %> <% if(error && error.length) { %>
<!-- Bootstrap Alert -->
<div
  id="myAlert"
  class="alert alert-danger alert-dismissible fade show col-md-6"
  role="alert"
>
  <%= error %>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<% } %>
