<!-- Footer -->
<footer class="container-fluid footer-fluid align-self-end">
  <div class="container footer-container">
    <div class="col-md-8 row row-cols-1 footer-row1">
      <div class="col-12 footer-r1c1">
        <div
          class="row row-cols-3 row-cols-md-6 text-center footer-row2 align-items-center justify-content-center"
        >
          <div class="col">Home</div>
          <div class="col">About us</div>
          <div class="col">Help</div>
          <div class="col">Service</div>
          <div class="col">Terms</div>
          <div class="col">Privacy policy</div>
        </div>
      </div>
      <div class="col-12 footer-r1c2">
        <div class="social-icons-tray">
          <i class="fa-brands fa-facebook"></i
          ><i class="fa-brands fa-twitter"></i
          ><i class="fa-brands fa-instagram"></i
          ><i class="fa-brands fa-linkedin"></i>
        </div>
        <p class="copyright-text">
          Copyright &copy; 2025 Airbnb.Inc | Allrights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="/bootstrap.js"></script>
<script src="/flash.js"></script>
<script src="/map.js"></script>
<script src="/navbarUser.js"></script>
