<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details of post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Detail of post</h1>
    <p>Post Id: <%= post.id %></p>
    <Div>
      <h4>@<%= post.username %></h4>
      <p><i> <%= post.content%> </i></p>
    </Div>
  </body>
</html>
