<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>New post</h1>
    <hr />
    <div>
      <form action="/posts" method="post">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="username"
        />
        <br />
        <br />
        <textarea
          name="content"
          id="content"
          placeholder="hi, write here ur post"
          cols="50"
          rows="5"
        ></textarea>
        <br />
        <br />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
