<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit user</title>
  </head>
  <body>
    <form method="POST" action="/users/<%= user.id %>?_method=PATCH">
      <h1>Edit Section</h1>
      <h2>Username : <%= user.username %></h2>
      <h2>User's Email : <%= user.email %></h2>

      <textarea name="newUsername" id="newUsername" cols="30" rows="10">
        <%= user.username %>
      </textarea
      >
      <input type="password" name="password" id="password" />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
